/* Variables
-------------------------------------------------- */
$font-stack: Helvetica, sans-serif;
$primary-color: #2a1f0b;
$secondary-color: #06b7a2;
$background-color: #bfcad0;
$background-color-banner: #2e9ad7;
$highlight-color: #06b9a1;

/* General
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  font: $font-stack;
  color: $primary-color;
  /* Margin bottom by footer height */
  //margin-bottom: 60px;
  //height: 2400px;
}

.main-background {
  background-color: #EAF7FF;
  padding-top: 30px;
  padding-bottom: 30px;
}

a {
  color: $secondary-color;
  &:hover {
    text-decoration: none;
    color: $highlight-color;
  }
}
.page-content {
  margin-bottom: 30px;
}
.page-header {
  margin-bottom: 50px;
  & h1 {
    text-transform: uppercase;
    & small {
      font-size: 17px;
    }
  }
}
.btn-primary {
  background-color: $background-color-banner;
  border-color: $background-color-banner;
  &:hover {
    background-color: $highlight-color;
    border-color: $highlight-color;
  }
}
/* Navbar
-------------------------------------------------- */
.navbar {
  border-radius: 0px;
}



.navbar .container {
  padding-top: 5px;
}
a.navbar-brand {
  line-height: 30px !important;
  margin-top: -5px !important;
  height: 60px;
  width: 135px;
  text-align: center;
  font-size: 25px;
}

.btn-default {
  &:hover {
    background-color: #06b9a1;
    border-color: #06b9a1;
  }
  &:active {
    background-color: white ;

  }

}


.navbar-inverse .navbar-toggle {
  border-color: white;
  &:hover {
    background-color: #06b9a1;
    border-color: white;
  }


}

.navbar-inverse {
  background-color: $background-color-banner;
  border-color: $background-color-banner;
  margin-bottom: 0px;
  .navbar-nav>li>a, .navbar-brand {
    color: $primary-color;
    color: white;
    line-height: 1px;
    margin-top: 9px;
    &:hover {
      //text-decoration: white;
      //color: white;
      background-color: #2e9ad7;
      border-color: #2e9ad7;
    }
  }
}
/* Share Page
-------------------------------------------------- */
.modal-body .alert {
  margin-bottom: 0;
}
/* MediaList Page
-------------------------------------------------- */
.thumbnail {
  width: 100%;
  display: inline-block;
  & dt {
    width: 30%;
  }
  & dd {
    margin-left: 35%;
  }
  & .medium-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $secondary-color;
  }
}
#media-list .row {
  -moz-column-width: 21em;
  -webkit-column-width: 21em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}
.readmore {
  display: none;
  & .glyphicon {
    font-size: 11px;
  }
}
/* Error Page
-------------------------------------------------- */
.error-template {
  padding: 100px 15px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right:10px;
}
/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: $background-color-banner;
}
.footer-content {
  margin-top: 2px;
  color: $primary-color;
}

.btn-impressum {

}
/* Website Preview CSS
-------------------------------------------------- */
#screenshot{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:5px;
  display:none;
  color:#fff;
}


/* Welcome Page
-------------------------------------------------- */
.well {
  background-color: white;
}