/* Variables
-------------------------------------------------- */
$font-stack: Helvetica, sans-serif;
$primary-color: #2A1F0B;
$secondary-color: #9b6932;
$background-color: #e2e2e2;
$background-color-lighten: lighten($background-color, 10%);
$background-color-banner: #BCAA92;
$highlight-color: #c39c23;
/* General
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  font: $font-stack;
  color: $primary-color;
  background-color: $background-color;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
a {
  color: $secondary-color;
  &:hover {
    text-decoration: none;
    color: $highlight-color;
  }
}
.page-content {
  margin-bottom: 30px;
}
.page-header {
  margin-bottom: 50px;
  & h1 {
    text-transform: uppercase;
    & small {
      font-size: 17px;
    }
  }
}
.btn-primary {
  background-color: $background-color-banner;
  border-color: $background-color-banner;
  &:hover {
    background-color: $highlight-color;
    border-color: $highlight-color;
  }
}
/* Navbar
-------------------------------------------------- */
.navbar .container {
  padding-top: 5px;
}
a.navbar-brand {
  line-height: 30px !important;
  margin-top: -5px !important;
  height: 60px;
  width: 135px;
  text-align: center;
  font-size: 25px;
}
.navbar-inverse {
  background-color: $background-color-banner;
  border-color: $background-color-banner;
  .navbar-nav>li>a, .navbar-brand {
    color: $primary-color;
    line-height: 1px;
    margin-top: 9px;
    &:hover {
      text-decoration: none;
      color: #333;
      background-color: #e6e6e6;
      border-color: #adadad;
    }
  }
}
/* Share Page
-------------------------------------------------- */
.modal-body .alert {
  margin-bottom: 0;
}
/* MediaList Page
-------------------------------------------------- */
.thumbnail {
  width: 100%;
  display: inline-block;
  & dt {
    width: 30%;
  }
  & dd {
    margin-left: 35%;
  }
  & .medium-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $secondary-color;
  }
}
#media-list .row {
  -moz-column-width: 21em;
  -webkit-column-width: 21em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}
.readmore {
  display: none;
  & .glyphicon {
    font-size: 11px;
  }
}
h3.medium-title.text-center {
  color: $primary-color;
}
/* Error Page
-------------------------------------------------- */
.error-template {
  padding: 100px 15px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right:10px;
}
/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: $background-color-banner;
}
.footer-content {
  margin-top: 20px;
  color: $primary-color;
}

.btn-impressum {

}
/* Website Preview CSS
-------------------------------------------------- */
#screenshot{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:5px;
  display:none;
  color:#fff;
}
/* Medium-Detail Page
-------------------------------------------------- */
#medium-detail {
  margin: 0 0 40px 0;
}
#medium-info-box, #medium-rating, #medium-comments {
  background-color: $background-color-lighten;
  margin: 15px 0;
  padding: 10px;
  & h4 {
    padding: 4px 0;
    border-bottom: 1px solid #eee;
  }
  & .btn-post-comment {
    margin: 10px 0;
    float: right;
    display: none;
  }
}
.comment-list {
  margin: 0;
}
.btn-rating-submit {
  float: right;
}