/* Variables
-------------------------------------------------- */
$font-stack: Helvetica, sans-serif;
$primary-color: #2A1F0B;
$secondary-color: #442f15;
$background-color: #E5F0F6;
$background-color-banner: #BCAA92;
$highlight-color: #AF8823;
/* General
-------------------------------------------------- */
body {
  font: $font-stack;
  color: $primary-color;
}
a {
  color: $secondary-color;
}
.page-content {
  margin-bottom: 30px;
}
.page-header {
  margin-bottom: 50px;
  & h1 {
    text-transform: uppercase;
    & small {
      font-size: 17px;
    }
  }
}
.thumbnail {
  width: 100%;
  display: inline-block;
  & dt {
    width: 30%;
  }
  & dd {
    margin-left: 35%;
  }
}
#media-list .row {
  -moz-column-width: 21em;
  -webkit-column-width: 21em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}
.readmore {
  text-decoration: underline;
  display: none;
}
/* Navbar
-------------------------------------------------- */
.navbar .container {
  padding-top: 5px;
}
a.navbar-brand {
  line-height: 30px !important;
  margin-top: -5px !important;
  height: 60px;
  width: 135px;
  text-align: center;
  font-size: 25px;
}
.navbar-inverse {
  background-color: $background-color-banner;
  border-color: $background-color-banner;
  .navbar-nav>li>a, .navbar-brand {
    color: $primary-color;
    line-height: 1px;
    margin-top: 9px;
    &:hover {
      text-decoration: none;
      color: #333;
      background-color: #e6e6e6;
      border-color: #adadad;
    }
  }
}
.btn-primary {
  background-color: $background-color-banner;
  border-color: $background-color-banner;
  &:hover {
    background-color: $highlight-color;
    border-color: $highlight-color;
  }
}
/* Share Page
-------------------------------------------------- */
.modal-body .alert {
  margin-bottom: 0;
}
/* Error Page
-------------------------------------------------- */
.error-template {
  padding: 100px 15px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right:10px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: $background-color-banner;
}
.footer-content {
  margin-top: 20px;
  color: $primary-color;
  a:hover {
    text-decoration: none;
    color: $highlight-color;

  }
}
/* Website Preview CSS
-------------------------------------------------- */
#screenshot{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:5px;
  display:none;
  color:#fff;
}